.entrada-container {
  display: flex;
  flex-direction: column;
  border-bottom: solid #fff 1px;
  padding: 2% 0;
  background-color: #1a1a1b;
}

.entrada-wrap {
  margin-left: 4%;
}

.entrada-titulo {
  color: #cdbba7;
  font-size: 2em;
  font-weight: bold;
  margin: 10px 15px;
}

.entrada-input {
  margin: 10px 15px;
  padding: 3px 5px;
  width: 280px;
  background-color: #f5f5f5;
  border: none;
}

.entrada-adiciona {
  padding: 3px 15px;
  border: none;
  background-color: #c1ac95;
  color: #333f44;
  font-weight: bold;
}
